.header {
  &__row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    color: #fff;
  }

  &__nav {
    padding-left: 50px;
  }

  &__left-col {
    display: flex;
  }

  &__info-panel {
    display: flex;
    align-items: center;

    p {
      font-size: 14px;
      margin: 0;
      padding-right: 15px;
    }
  }
}

.active {
  background-color: rgba(0, 0, 0, 0.2);
}
