.header {
  &__row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    padding-left: 50px;
  }

  &__left-col {
    display: flex;
  }
}
