<mat-toolbar class="header" color="primary">
  <mat-toolbar-row>
    <div class="header__row">
      <div class="header__left-col">
        <span>YouSport</span>
        <nav *ngIf="isLoggedIn" class="header__nav">
          <a mat-button routerLink="/schedule" routerLinkActive="active"
            >Schedule</a
          >
          <a mat-button routerLink="/meals" routerLinkActive="active">Meals</a>
          <a mat-button href="">Workouts</a>
        </nav>
      </div>

      <div class="header__info-panel">
        <p *ngIf="user">{{ user.email }}</p>
        <button
          *ngIf="isLoggedIn"
          mat-icon-button
          class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
          (click)="onLogout()"
        >
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
