.workouts-list {
  padding-top: 100px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;

  &__content {
    padding-top: 35px;
  }

  &__title {
    display: flex;
    align-items: center;
  }

  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 26px;
      margin: 0;
      padding-left: 10px;
      color: #fff;
    }
  }

  &__empty {
    text-align: center;
    color: #fff;
    padding-bottom: 30px;
  }
}

.loader {
  font-size: 18px;
  color: #fff;
  margin: 0;
  padding-top: 35px;
  text-align: center;
}
