@import "/src/app/shared/styles/mixins";

.workouts-list {
  &__content {
    padding-top: 25px;
  }

  &__header {
    width: 100%;

    h2 {
      margin: 0;
      padding-left: 10px;
      padding-right: 10px;
      color: #fff;
    }
  }

  &__empty {
    font-size: 18px;
    line-height: 1.2;
    @include breakpoint(md) {
      font-size: 22px;
    }

    text-align: center;
    color: #fff;
    padding-bottom: 25px;
    min-height: 100px;
    @include breakpoint(md) {
      min-height: 225px;
    }
  }

  &__loader {
    min-height: 200px;

    @include breakpoint(md) {
      min-height: 250px;
    }
  }
}
