.schedule-item {
  &__control-item {
    padding-bottom: 10px;
  }

  &__title {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      opacity: 0.8;
    }

    p {
      margin: 0;
      color: #fff;
      font-size: 16px;
      padding-left: 5px;
    }
  }

  &__control-item-btn {
    margin-bottom: 25px;
  }

  &__list-item {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    padding-bottom: 10px;
    transition: all 0.3s;

    &:hover {
      opacity: 0.7;
    }

    p {
      margin: 0;
    }

    span {
      color: #c4c4c4;
    }
  }

  p {
    color: #fff;
  }
}

h2 {
  color: #fff;
  margin: 0;
  padding: 10px 0;
}
