<mat-expansion-panel [expanded]="getCurrentDay()">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h2>{{ assignment.day }}</h2>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="schedule-item">
    <div class="schedule-item__controls">
      <div
        *ngIf="!assignment.meals?.length"
        class="schedule-item__control-item"
      >
        <div
          class="schedule-item__title"
          (click)="
            toggleModal({
              type: 'Meals',
              day: assignment.day || '',
              key: assignment.key || 0
            })
          "
        >
          <mat-icon
            aria-hidden="false"
            fontIcon="add"
            class="white-icon"
          ></mat-icon>
          <p>Add Meals</p>
        </div>
      </div>
      <div
        *ngFor="let meal of assignment.meals; trackBy: trackById"
        class="schedule-item__list"
      >
        <a [routerLink]="'/meals/' + meal.id" class="schedule-item__list-item">
          <mat-icon
            aria-hidden="false"
            fontIcon="food_bank"
            class="white-icon"
          ></mat-icon>
          <div>
            <p>{{ meal.name }}</p>
            <span>{{ meal.ingredients | join }}</span>
          </div>
        </a>
      </div>
      <div *ngIf="assignment.meals?.length">
        <button
          class="schedule-item__control-item-btn"
          mat-button
          color="accent"
          (click)="
            toggleModal({
              type: 'Meals',
              day: assignment.day || '',
              key: assignment.key || 0
            })
          "
        >
          Change meals for this day
        </button>
      </div>

      <div
        *ngIf="!assignment.workouts?.length"
        class="schedule-item__control-item"
      >
        <div
          class="schedule-item__title"
          (click)="
            toggleModal({
              type: 'Workouts',
              day: assignment.day || '',
              key: assignment.key || 0
            })
          "
        >
          <mat-icon
            aria-hidden="false"
            fontIcon="add"
            class="white-icon"
          ></mat-icon>
          <div>
            <p>Add Workouts</p>
          </div>
        </div>
      </div>
      <div
        *ngFor="let workout of assignment.workouts; trackBy: trackById"
        class="schedule-item__list"
      >
        <a
          [routerLink]="'/workouts/' + workout.id"
          class="schedule-item__list-item"
        >
          <mat-icon
            aria-hidden="false"
            fontIcon="fitness_center"
            class="white-icon"
          ></mat-icon>
          <div>
            <p>{{ workout.name }}</p>
            <span>{{ workout | workout }}</span>
          </div>
        </a>
      </div>
      <div *ngIf="assignment.workouts?.length">
        <button
          mat-button
          color="accent"
          (click)="
            toggleModal({
              type: 'Workouts',
              day: assignment.day || '',
              key: assignment.key || 0
            })
          "
        >
          Change workouts for this day
        </button>
      </div>
    </div>
  </div>
</mat-expansion-panel>

<app-schedule-assign
  *ngIf="open"
  [selected]="selectedType"
  [assignment]="assignment"
  [meals]="meals"
  [workouts]="workouts"
  (update)="onUpdateSchedule($event)"
  (close)="open = false"
></app-schedule-assign>
