<div class="schedule-item">
  <h2>{{ assignment.day }}</h2>

  <div class="schedule-item__controls">
    <div *ngIf="!assignment.meals?.length" class="schedule-item__control-item">
      <div
        class="schedule-item__title"
        (click)="
          toggleModal({
            type: 'Meals',
            day: assignment.day || '',
            key: assignment.key || 0
          })
        "
      >
        <mat-icon
          aria-hidden="false"
          fontIcon="add"
          class="white-icon"
        ></mat-icon>
        <p>Add Meal</p>
      </div>
    </div>

    <div
      *ngFor="let meal of assignment.meals; trackBy: trackMealByName"
      class="schedule-item__list"
    >
      <div
        class="schedule-item__list-item"
        (click)="
          toggleModal({
            type: 'Meals',
            day: assignment.day || '',
            key: assignment.key || 0
          })
        "
      >
        <mat-icon
          aria-hidden="false"
          fontIcon="favorite"
          class="white-icon"
        ></mat-icon>
        <p>{{ meal.name }}</p>
      </div>
    </div>
    <div
      *ngIf="!assignment.workouts?.length"
      class="schedule-item__control-item"
    >
      <div
        class="schedule-item__title"
        (click)="
          toggleModal({
            type: 'Workouts',
            day: assignment.day || '',
            key: assignment.key || 0
          })
        "
      >
        <mat-icon
          aria-hidden="false"
          fontIcon="add"
          class="white-icon"
        ></mat-icon>
        <p>Add Workout</p>
      </div>
    </div>

    <div
      *ngFor="let workout of assignment.workouts; trackBy: trackWorkoutByName"
      class="schedule-item__list"
    >
      <div
        class="schedule-item__list-item"
        (click)="
          toggleModal({
            type: 'Workouts',
            day: assignment.day || '',
            key: assignment.key || 0
          })
        "
      >
        <mat-icon
          aria-hidden="false"
          fontIcon="fitness_center"
          class="white-icon"
        ></mat-icon>
        <p>{{ workout.name }}</p>
      </div>
    </div>
  </div>

  <app-schedule-assign
    *ngIf="open"
    [selected]="selectedType"
    [meals]="assignment.meals"
    [workouts]="assignment.workouts"
    (update)="onUpdateSchedule($event)"
    (close)="open = false"
  ></app-schedule-assign>
</div>
