.workout-type {
  display: flex;
  align-items: center;
  padding-bottom: 50px;

  &__pane {
    padding-right: 10px;
  }
}

.active {
  button {
    background-color: #303030;

    &:hover {
      background-color: #303030;
    }
  }
}
