.schedule {
  &__title {
    padding-bottom: 25px;

    h2 {
      padding-left: 10px;
    }
  }

  &__empty {
    text-align: center;
    color: #fff;
    padding-bottom: 30px;
  }

  &__loader {
    min-height: 500px;
  }
}
