<div class="schedule container">
  <mat-card>
    <mat-card-header>
      <div
        class="schedule__title"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutAlign.lt-sm="center center"
        fxFlex="100"
      >
        <mat-icon
          aria-hidden="false"
          fontIcon="schedule"
          class="white-icon"
        ></mat-icon>
        <h2>Your Schedule</h2>
      </div>
    </mat-card-header>

    <mat-card-content>
      <div
        class="schedule__list"
        *ngIf="{
          schedule: schedule$ | async,
          meals: meals$ | async,
          workouts: workouts$ | async
        } as data"
      >
        <ng-container
          *ngIf="data.schedule && data.meals && data.workouts; else loading"
        >
          <mat-accordion multi>
            <app-schedule-item
              *ngFor="let assignemt of data.schedule.assignments"
              [assignment]="assignemt"
              [meals]="data.meals"
              [workouts]="data.workouts"
              (update)="updateSchedule($event)"
            ></app-schedule-item>
          </mat-accordion>
        </ng-container>
      </div>

      <ng-template #loading>
        <div
          class="schedule__loader"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <mat-spinner diameter="50"></mat-spinner>
        </div>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>
