<div class="meals-item">
  <a class="meals-item__title" [routerLink]="meal.id?.toString()">
    <h4>{{ meal.name }}</h4>
    <span>{{ meal.ingredients | join }}</span>
  </a>
  <div class="meals-item__controls">
    <div *ngIf="toggled" class="meals-item__delete-content">
      <p>Delete item?</p>
      <div class="meals-item__delete-btns">
        <button mat-raised-button color="warn" (click)="onDeleteMeal(meal.id!)">
          Yes
        </button>
        <button mat-button (click)="toggle()">No</button>
      </div>
    </div>
    <button
      mat-icon-button
      type="button"
      class="delete-btn favorite-icon"
      (click)="toggle()"
    >
      <mat-icon class="white-icon">delete</mat-icon>
    </button>
  </div>
</div>
