.meals-item {
  padding-bottom: 20px;

  &__title {
    h4 {
      color: #fff;
      margin: 0;
    }

    span {
      color: #c4c4c4;
    }
  }

  &__delete-content {
    p {
      margin: 0;
      color: #fff;
    }
  }

  &__delete-content--mobile {
    padding-bottom: 20px;
  }

  &__delete-btns {
    padding-left: 10px;
  }
}
