.meals-list {
  &__content {
    padding-top: 25px;
  }

  &__header {
    width: 100%;

    h2 {
      margin: 0;
      color: #fff;
      padding-left: 10px;
    }
  }

  &__empty {
    text-align: center;
    color: #fff;
    padding-bottom: 30px;
  }

  &__loader {
    min-height: 250px;
  }
}
