<div class="meals-list container">
  <mat-card>
    <mat-card-header>
      <div
        class="meals-list__header"
        fxLayout.lt-sm="column"
        fxLayoutAlign="space-between center"
      >
        <div
          class="meals-list__title"
          fxLayout="row"
          fxLayoutAlign="start center"
        >
          <mat-icon fontIcon="food_bank" class="white-icon"></mat-icon>
          <h2>Your Meals</h2>
        </div>

        <button routerLink="/meals/new" mat-raised-button color="primary">
          New Meal
        </button>
      </div>
    </mat-card-header>

    <mat-card-content>
      <div
        *ngIf="meals$ | async as meals; else loading"
        class="meals-list__content"
      >
        <h2
          *ngIf="!meals.length"
          class="meals-list__empty"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          No meals, add new meal to start!
        </h2>
        <app-meals-item
          *ngFor="let meal of meals; trackBy: trackById"
          [meal]="meal"
          (deleteMeal)="deleteMeal($event)"
        ></app-meals-item>
      </div>

      <ng-template #loading>
        <div
          class="meals-list__loader"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <mat-spinner diameter="50"></mat-spinner>
        </div>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>
