<form [formGroup]="form" class="workout-form">
  <div class="workout-form__name-row">
    <h4>Workout Name</h4>
    <mat-form-field class="example-form-field">
      <input
        matInput
        type="text"
        [placeholder]="placeholder"
        formControlName="name"
      />
    </mat-form-field>
    <mat-error
      *ngIf="
        form.get('name')?.hasError('required') && form.get('name')?.touched
      "
    >
      Workout name is required
    </mat-error>
  </div>

  <app-workout-type formControlName="type"></app-workout-type>

  <div
    *ngIf="form.get('type')?.value === 'strength'"
    class="workout-form__type-fields"
    formGroupName="strength"
  >
    <div class="workout-form__type-field">
      <h4>Reps</h4>
      <mat-form-field class="example-form-field">
        <input matInput type="number" formControlName="reps" />
      </mat-form-field>
    </div>

    <div class="workout-form__type-field">
      <h4>Sets</h4>
      <mat-form-field class="example-form-field">
        <input matInput type="number" formControlName="sets" />
      </mat-form-field>
    </div>

    <div class="workout-form__type-field">
      <h4>Weight <span>(kg)</span></h4>
      <mat-form-field class="example-form-field">
        <input matInput type="number" formControlName="weight" />
      </mat-form-field>
    </div>
  </div>

  <div
    *ngIf="form.get('type')?.value === 'endurance'"
    class="workout-form__type-fields"
    formGroupName="endurance"
  >
    <div class="workout-form__type-field">
      <h4>Distance <span>(km)</span></h4>
      <mat-form-field class="example-form-field">
        <input matInput type="number" formControlName="distance" />
      </mat-form-field>
    </div>

    <div class="workout-form__type-field">
      <h4>Duration <span>(minutes)</span></h4>
      <mat-form-field class="example-form-field">
        <input matInput type="number" formControlName="duration" />
      </mat-form-field>
    </div>
  </div>

  <div class="workout-form__btns">
    <div class="workout-form__btns-control">
      <button
        *ngIf="!exist"
        [disabled]="this.form.invalid"
        mat-raised-button
        type="submit"
        color="primary"
        (click)="onSubmitWorkout()"
      >
        Create Workout
      </button>
      <button
        *ngIf="exist"
        [disabled]="this.form.invalid"
        mat-raised-button
        type="submit"
        color="primary"
        (click)="onUpdateWorkout()"
      >
        {{ exist ? "Update" : "Create" }} Workout
      </button>
      <a routerLink="/workouts" mat-button>Cancel</a>
    </div>

    <div *ngIf="exist" class="workout-form__btns-delete">
      <div *ngIf="toggled" class="workout-form__delete-content">
        <p>Delete Workout?</p>
        <div class="meals-form__delete-btns">
          <button
            mat-raised-button
            color="warn"
            (click)="onDeleteWorkout(workout.id!)"
          >
            Yes
          </button>
          <button mat-button (click)="toggle()">No</button>
        </div>
      </div>
      <button
        mat-raised-button
        color="warn"
        type="button"
        class="delete-btn favorite-icon"
        (click)="toggle()"
      >
        Delete
      </button>
    </div>
  </div>
</form>
