@import "/src/app/shared/styles/mixins";

.workout-form {
  h4 {
    font-size: 18px;
    color: #fff;
    margin: 0;
    padding-bottom: 10px;
  }

  &__name-row {
    padding-top: 40px;
    padding-bottom: 10px;

    @include breakpoint(md) {
      padding-bottom: 30px;
    }
  }

  &__btns-delete {
    display: flex;
    align-items: center;
  }

  &__delete-content {
    padding-right: 15px;

    p {
      color: #fff;
      margin: 0;
      padding-right: 15px;
    }
  }

  &__type-field {
    width: 100%;
    @include breakpoint(md) {
      padding-right: 15px;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &__btns-control {
    &:first-child button {
      margin-right: 10px;
    }
  }
}

.mat-mdc-form-field {
  width: 100%;
  display: block;
}

.delete-btn {
  margin-top: 5px;
}
